<p class="main-text">
  Get tons of followers for free!  FollowATHON is a free service that allows you to increase your follower list with <strong>followers who
  actually want to follow you</strong>.  You pick out keywords that describe you and your interests and FollowATHON finds users
  to follow.  Once they see you have followed them, they will follow you!
</p>

<div style="height:60px;" class="center big-button">
  <a href="/register"><%= image_tag "see_how.jpg",:style => "height:60px;" %></a>
</div>

