<p style="padding-top:0px;" class="subtitle">How It works</p>

<p class="main-text">We find users who are interested in the same thing you are.  Our system makes your account follow them.  They see you
are interested in the same thing and they follow you back.  If you follow someone and they don't follow you back
within a reasonable time then we unfollow them so your "following" count doesn't look too off balance.</p>

<p class="subtitle">Our Promise</p>

<p class="main-text">In exchange for doing all this for free, FollowATHON will put one tweet up in your account three times a week and delete that tweet
after 24 hours.  This could be something along the lines of retweeting our promotional tweet, usually something like "Try out
FollowATHON to get free subscribers who actually like you!"  We promise never to use your account to spam, advertise,
promote adult content or use pretend to be you ( ie we won't tweet like it was actually you saying it ).</p>

<div class="center big-button">
  <a href="/login"><%= image_tag "register.jpg" %></a>
</div>