<div class="main-text">
<% if @recent_friendings.size > 0 then %>
    We have followed <%= @recent_friendings.size %> twitter users for you.

<% else %>
    Haven't followed any users yet.  Make sure you add some <%= link_to "keywords" ,:controller => 'keywords' %> so we know who to follow.  This list will fill up soon.
<% end %></div>