<p class="subtitle">How do I unsubscribe or cancel followathon?</p>
<p class="main-text">It's simple.  Click this link below and we will remove you from our system.<br/><br/>
  <%= link_to "Unsubscribe",  {:controller=>"users" ,:action=>"destroy"}, :confirm => 'Are you sure want to unsubscribe from Followathon?'%></p>


<p class="subtitle">How do I contact someone?</p>


<div class="main-text">Follow us on twitter, <%= link_to "@followathon" ,"http://twitter.com/followathon" %></br>

<br />Email us, <a href="mailto:followathon@gmail.com">followathon@gmail.com</a></div>