<p class="main-text">How do I unsubscribe or cancel followathon?</p>
<p class="subtitle">It's simple.  Click this link below and we will remove you from our system.<br/><br/>
  <%= link_to "Unsubscribe",  {:controller=>"users" ,:action=>"destroy"}, :confirm => 'Are you sure?'%></p>
