<% title "Keyword" %>

<p>
  <strong>Word:</strong>
  <%=h @keyword.word %>
</p>

<p>
  <%= link_to "Edit", edit_keyword_path(@keyword) %> |
  <%= link_to "Destroy", @keyword, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", keywords_path %>
</p>
